Данные в ML обычно представляются в виде таблицы (матрицы), где:

Строки — это объекты (samples, instances).

Столбцы — это признаки (features). Обозначаются как X.

Целевая переменная — это то, что мы предсказываем. Обозначается как y (только в обучении с учителем).

Нельзя проверять качество модели на тех же данных, на которых она училась (иначе модель просто "запомнит" ответы).
Данные делят на:

Train (Обучающая выборка): ~70-80%. На ней модель находит закономерности.

Test (Тестовая выборка): ~20-30%. На ней мы проверяем качество.

Ещё есть:

(Val) (валидационная выборка): Оценка модели на итерации обучения.

Необходимые библиотеки: numpy, pandas, scikit-learn

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split

# Данные: 10 объектов, у каждого 2 признака
X = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10],
              [11, 12], [13, 14], [15, 16], [17, 18], [19, 20]])
# Задача бинарной классификации: классы 0 и 1
y = np.array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1])

# Разбиение данных (80% train, 20% test)
# random_state фиксирует случайность, чтобы результат был воспроизводим
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Размер X_train: {X_train.shape}")
print(f"Размер X_test: {X_test.shape}")

NameError: name 'np' is not defined

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.DataFrame({
    'feature1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'feature2': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    'target': [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
})

In [ ]:
# Разделяем на X (признаки) и y (ответы)
X = df.drop('target', axis=1) # Берем всё, кроме колонки с ответами
y = df['target']              # Берем только колонку с ответами

# Разделяем на обучающую (train) и тестовую (test) выборки
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

print(f"Строк в обучении: {len(X_train)}")
print(f"Строк в тесте: {len(X_test)}")

Строк в обучении: 8
Строк в тесте: 2

Разделение с сохранением пропорций классов (Stratify)

Крайне важно для задач классификации, если в таргете одного класса намного меньше, чем другого (например, мошенничество 1% и обычные транзакции 99%).

In [ ]:
# Параметр stratify=y гарантирует, что в тесте и трейне будет одинаковый % классов
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

Временное разделение (Time Series)

Если данные — это временной ряд (акции, погода), перемешивать их нельзя (иначе модель будет «заглядывать в будущее»). Нужно просто отрезать кусок из конца.

In [ ]:
# Берем первые 80% строк на обучение, последние 20% на тест
split_index = int(len(df) * 0.8)
train = df.iloc[:split_index]
test = df.iloc[split_index:]

NameError: name 'df' is not defined

Данные из реального мира "грязные". Модели не понимают текст и не любят пропуски.

Основные этапы работы с данными:

Обработка пропусков (Missing Values): Удаление строк с NaN или заполнение их данными:
* Среднее (mean): для симметричных данных без выбросов.
```
imputer = SimpleImputer(strategy='mean')
```
* Медиана (median): для данных с выбросами (устойчива к ним).
```
imputer = SimpleImputer(strategy='median')
```
* Мода (mode): для категориальных признаков.
```
imputer = SimpleImputer(strategy='most_frequent')
```
* Нули/Константы: замена на 0, -999 или "Unknown".
```
# Заполнение value = 0
imputer = SimpleImputer(strategy='constant', fill_value=0)

# Заполнение строкой "Unknown" для категорий
imputer = SimpleImputer(strategy='constant', fill_value='Unknown')
```
* Интерполяция (интерполяция): заполнение промежуточными значениями (линейная, временная).
SimpleImputer не поддерживает интерполяцию. Для этого используется метод Pandas .interpolate()
```
# Линейная интерполяция (только через Pandas)
df['column'] = df['column'].interpolate(method='linear')
```
* Удаление строк с NaN. Это также делается через Pandas, так как импьютеры предназначены для заполнения, а не удаления.
```
# Удалить все строки, где есть хотя бы один NaN
df.dropna(inplace=True)

# Удалить все столбцы, где есть хотя бы один NaN
df.dropna(axis=1, inplace=True)

# Все столбцы, где все значения NaN
df.dropna(axis=1, how='all', inplace=True)

# NaN превышает допустимый порог
# Оставит только те столбцы, где минимум 80% данных заполнены
limit = int(0.8 * len(df))
df.dropna(axis=1, thresh=limit, inplace=True)

# Удаление конкретных столбцов с пропусками
cols_to_check = ['Age', 'Salary']
df.drop(columns=df[cols_to_check].columns[df[cols_to_check].isna().any()], inplace=True)
```

Кодирование категорий (Categorical Encoding): Превращение текста в цифры.

Label Encoding: red=0, green=1, blue=2. (Плохо, если нет порядка).
```
# Для целевой переменной (таргета) или признаков с четким порядком (small < medium < large).
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['target'] = le.fit_transform(df['target'])
```

```
# Ordinal Encoding
# Похоже на Label Encoding, но для признаков и с возможностью задать порядок вручную.

from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
df[['size']] = oe.fit_transform(df[['size']])
```

One-Hot Encoding: Создание новых столбцов-флагов (is_red, is_green...).
```
# Создает столбцы-флаги (0 или 1). Идеально для категорий без порядка
# Через Pandas
df = pd.get_dummies(df, columns=['color'])
# Через Scikit-learn
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)
```

Масштабирование (Scaling): Приведение признаков к одному диапазону (например, от 0 до 1 или к нормальному распределению). Это важно для линейных моделей и нейросетей.
```
# Min-Max Scaling (Нормализация)
# Сжимает данные в диапазон от 0 до 1.

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['age', 'salary']] = scaler.fit_transform(df[['age', 'salary']])
```

```
# Standard Scaling (Стандартизация)
# Приводит к среднему = 0 и стандартному отклонению = 1. Устойчивее к выбросам.

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['age', 'salary']] = scaler.fit_transform(df[['age', 'salary']])
```

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

df = pd.DataFrame({
    'Age': [25, np.nan, 30, 22],
    'Salary': [50000, 60000, np.nan, 35000],
    'City': ['Moscow', 'Paris', 'Moscow', 'London']
})

print("Исходные данные:\n", df)

Исходные данные:
     Age   Salary    City
0  25.0  50000.0  Moscow
1   NaN  60000.0   Paris
2  30.0      NaN  Moscow
3  22.0  35000.0  London

In [ ]:
# Заполнение пропусков (средним значением)
imputer = SimpleImputer(strategy='mean')
df[['Age', 'Salary']] = imputer.fit_transform(df[['Age', 'Salary']])
df

         Age        Salary    City
0  25.000000  50000.000000  Moscow
1  25.666667  60000.000000   Paris
2  30.000000  48333.333333  Moscow
3  22.000000  35000.000000  London

In [ ]:
# Масштабирование (StandardScaler - z-score нормализация)
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])
df

        Age    Salary    City
0 -0.233285  0.187317  Moscow
1  0.000000  1.311220   Paris
2  1.516351  0.000000  Moscow
3 -1.283066 -1.498537  London

In [ ]:
# One-Hot Encoding для города
# drop_first=True удаляет первый столбец, чтобы избежать мультиколлинеарности
df = pd.get_dummies(df, columns=['City'], drop_first=True)
df

        Age    Salary  City_Moscow  City_Paris
0 -0.233285  0.187317         True       False
1  0.000000  1.311220        False        True
2  1.516351  0.000000         True       False
3 -1.283066 -1.498537        False       False

# Задача 1.
Создайте массив размера (40, 3) из любых чисел типа int в диапозоне от 10 до 100 в первых двух столбцах (напр., можно использовать генератор списка), в третьем столбце (таргет) числа от типа int 0 или 1.

Далее напишите код, который разбивает датасет на data (признаки) и target (ответы), а затем в соотношении 70% на обучающую и 30% на тестовую выборки. Используйте random_state=10.

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
import random
X = np.random.randint(10, 101, size = (40, 2))
y = np.random.randint(0,2, size = (40,1))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 10)

print(X_train.shape)
print(X_test.shape)

(28, 2)
(12, 2)

# Задача 2.
Для каждого из пяти датасетов обработать NaN (и обосновать логику обработки), закодировать таргет (и обосновать логику кодирования).

In [3]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

# Таргет: Купит ли клиент товар
df1 = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45, 50],
    'ID_System': [np.nan, 102, np.nan, 105, np.nan, 107],
    'Target': ['Yes', 'No', 'No', 'Yes', 'No', 'Yes']
})

df1.dropna(axis = 1, inplace = True)

le = LabelEncoder()
df1['Target'] = le.fit_transform(df1['Target'])

df1

   Age  Target
0   25       1
1   30       0
2   35       0
3   40       1
4   45       0
5   50       1

In [ ]:
# Таргет: Уровень подписки (Basic < Silver < Gold — с порядком)

df2 = pd.DataFrame({
    'City': ['Moscow', 'Moscow', 'London', 'Moscow', np.nan, 'Moscow', 'London'],
    'Age': [20, 25, 30, 35, 40, 45, 50],
    'Target': ['Basic', 'Basic', 'Silver', 'Silver', 'Gold', 'Gold', 'Gold']
})

df2 = pd.get_dummies(df2, columns=['City'])

df2 = df2.replace({True:1, False:0})

oe = OrdinalEncoder(categories = [['Basic', 'Silver', 'Gold']])
df2[['Target']] = oe.fit_transform(df2[['Target']])

df2

/tmp/ipython-input-3531504538.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = df2.replace({True:1, False:0})

   Age  Target  City_London  City_Moscow
0   20     0.0            0            1
1   25     0.0            0            1
2   30     1.0            1            0
3   35     1.0            0            1
4   40     2.0            0            0
5   45     2.0            0            1
6   50     2.0            1            0

In [ ]:
# Таргет: Группа здоровья (A < B < C — с порядком)

df3 = pd.DataFrame({
    'Pulse': [70, 72, 75, np.nan, 68, 71, 73, 74],
    'Temp': [36.6, 36.7, 36.8, 36.6, 36.9, 36.6, 36.7, 36.8],
    'Target': ['A', 'A', 'B', 'A', 'B', 'A', 'B', 'C']
})

imputer = SimpleImputer(strategy='mean')
df3[['Pulse']] = imputer.fit_transform(df3[['Pulse']])

oe = OrdinalEncoder(categories=[['A', 'B', 'C']])
df3[['Target']] = oe.fit_transform(df3[['Target']])

df3

       Pulse  Temp  Target
0  70.000000  36.6     0.0
1  72.000000  36.7     0.0
2  75.000000  36.8     1.0
3  71.857143  36.6     0.0
4  68.000000  36.9     1.0
5  71.000000  36.6     0.0
6  73.000000  36.7     1.0
7  74.000000  36.8     2.0

In [ ]:
# Таргет: Прошел проверку безопасности (Да/Нет)

df4 = pd.DataFrame({
    'Days_Since_Last_Incident': [10, 5, 20, np.nan, 15, 30],
    'Risk_Score': [0.1, 0.2, 0.1, 0.4, 0.2, 0.1],
    'Target': ['Safe', 'Safe', 'Warning', 'Safe', 'Safe', 'Warning']
})

imputer = SimpleImputer(strategy='median')
df4[['Days_Since_Last_Incident']] = imputer.fit_transform(df4[['Days_Since_Last_Incident']])

le = LabelEncoder()
df4['Target'] = le.fit_transform(df4['Target'])

df4

   Days_Since_Last_Incident  Risk_Score  Target
0                      10.0         0.1       0
1                       5.0         0.2       0
2                      20.0         0.1       1
3                      15.0         0.4       0
4                      15.0         0.2       0
5                      30.0         0.1       1

In [ ]:
# Таргет: Кредитный рейтинг (Low < High — с порядком)
df5 = pd.DataFrame({
    'Bonus_Points': [100, 500, np.nan, 200, np.nan, 800],
    'Salary_K': [50, 100, 40, 120, 30, 150],
    'Target': ['Low', 'High', 'Low', 'High', 'Low', 'High']
})

imputer = SimpleImputer(strategy='median')
df5[['Bonus_Points']] = imputer.fit_transform(df5[['Bonus_Points']])

oe = OrdinalEncoder(categories=[['Low', 'High']])
df5[['Target']] = oe.fit_transform(df5[['Target']])

df5

   Bonus_Points  Salary_K  Target
0         100.0        50     0.0
1         500.0       100     1.0
2         350.0        40     0.0
3         200.0       120     1.0
4         350.0        30     0.0
5         800.0       150     1.0

# Задание 3.
Масштабировать признак в датасетах и закодировать категории

In [ ]:
# MinMaxScaler (Нормализация)
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder

# таргет: уровень премии (низкий/средний/высокий)
df6 = pd.DataFrame({
    'Completion_Pct': [10, 25, 45, 50, 75, 85, 95, 100],
    'Experience_Years': [1, 2, 3, 4, 5, 6, 7, 8],
    'Target': ['Low', 'Low', 'Medium', 'Medium', 'Medium', 'High', 'High', 'High']
})

scaler = MinMaxScaler()
df6[['Completion_Pct', 'Experience_Years']] = scaler.fit_transform(df6[['Completion_Pct', 'Experience_Years']])

oe = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df6[['Target']] = oe.fit_transform(df6[['Target']])

df6

   Completion_Pct  Experience_Years  Target
0        0.000000          0.000000     0.0
1        0.166667          0.142857     0.0
2        0.388889          0.285714     1.0
3        0.444444          0.428571     1.0
4        0.722222          0.571429     1.0
5        0.833333          0.714286     2.0
6        0.944444          0.857143     2.0
7        1.000000          1.000000     2.0

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

# таргет: одобрение кредита (да/нет)
df7 = pd.DataFrame({
    'Income_K': [30, 35, 40, 45, 50, 42, 38, 1000],
    'Credit_Score': [600, 620, 640, 610, 650, 630, 615, 800],
    'Target': ['No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes']
})

scaler = StandardScaler()
df7[['Income_K', 'Credit_Score']] = scaler.fit_transform(df7[['Income_K', 'Credit_Score']])

le = LabelEncoder()
df7['Target'] = le.fit_transform(df7['Target'])

df7

   Income_K  Credit_Score  Target
0 -0.409396     -0.756853       0
1 -0.393650     -0.425082       0
2 -0.377904     -0.093311       1
3 -0.362158     -0.590967       0
4 -0.346412      0.072575       1
5 -0.371606     -0.259196       1
6 -0.384202     -0.508024       0
7  2.645328      2.560858       1