In [1]:
import numpy as np
import pandas as pd

1. Загрузка данных

In [3]:
df = pd.read_csv('/content/sample_data/house_price_regression_dataset.csv')

https://www.kaggle.com/datasets/prokshitha/home-value-insights

In [ ]:
# 'Square_Footage': Размер дома в квадратных футах. Более крупные дома,
# как правило, стоят дороже.

# 'Num_Bedrooms': Количество спален в доме. Большее количество спален
# обычно увеличивает стоимость дома.

# 'Num_Bathrooms': Количество ванных комнат в доме. Дома с большим количеством
# ванных комнат, как правило, стоят дороже.

# 'Year_Built': Год постройки дома. Более старые дома могут стоить дешевле
# из-за износа.

# 'Lot_Size': Размер участка, на котором построен дом, измеряется в акрах.
# Большие участки, как правило, увеличивают стоимость недвижимости.

# 'Garage_Size': Количество автомобилей, которые могут поместиться в гараже.
# Дома с большими гаражами обычно стоят дороже.

# 'Neighborhood_Quality': Оценка качества района по шкале от 1 до 10, где
# 10 означает высокое качество района. В лучших районах обычно более высокие цены.

# 'House_Price' (целевая переменная): цена дома, которая является зависимой
# переменной, которую вы пытаетесь предсказать.

In [5]:
df

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

2. Предобработка данных

In [4]:
# Проверим есть ли столбы с пропущенными значениями
df.isna().any()

Square_Footage          False
Num_Bedrooms            False
Num_Bathrooms           False
Year_Built              False
Lot_Size                False
Garage_Size             False
Neighborhood_Quality    False
House_Price             False
dtype: bool

3. Загрузка модели, обучение

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

#эксперимент 1 - все данные
#model1 = LinearRegression()

#X1 = df.drop('House_Price', axis = 1)
#X1 = scaler.fit_transform(X1)

#y1 = df[['House_Price']]
#y1 = scaler.fit_transform(y1)

#X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

# Обучаем
#model1.fit(X_train, y_train)

# Делаем предсказание
#y_pred1 = model1.predict(X_test)

#df1 = pd.DataFrame(y_pred1)


# #эксперимент 2 - удалим Year_Built
# model2 = LinearRegression()

# X2 = df.drop(['House_Price', 'Year_Built'], axis = 1)

# X2 = scaler.fit_transform(X2)

# y2 = df[['House_Price']]
# y2 = scaler.fit_transform(y2)

# X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

# model2.fit(X_train, y_train)

# y_pred2 = model2.predict(X_test)

# df2 = pd.DataFrame(y_pred2)

# #эксперимент 3 - удалим Garage_Size
# model3 = LinearRegression()

# X3 = df.drop(['House_Price', 'Garage_Size'], axis = 1)

# X3 = scaler.fit_transform(X3)

# y3 = df[['House_Price']]
# y3 = scaler.fit_transform(y3)

# X_train, X_test, y_train, y_test = train_test_split(X3, y3, test_size=0.2, random_state=42)

# model3.fit(X_train, y_train)

# y_pred3 = model3.predict(X_test)

# df3= pd.DataFrame(y_pred3)


# #эксперимент 4 - удалим Lot_Size (важный параметр)
# model4 = LinearRegression()

# X4 = df.drop(['House_Price', 'Lot_Size'], axis = 1)

# X4 = scaler.fit_transform(X4)

# y4 = df[['House_Price']]
# y4 = scaler.fit_transform(y4)

# X_train, X_test, y_train, y_test = train_test_split(X4, y4, test_size=0.2, random_state=42)

# model4.fit(X_train, y_train)

# y_pred4 = model4.predict(X_test)

# df4 = pd.DataFrame(y_pred4)

#эксперимент 5 - оставляем самое логичное
model5 = LinearRegression()

X5 = df.drop(['House_Price', 'Neighborhood_Quality', 'Num_Bathrooms', 'Garage_Size'], axis = 1)

X5 = scaler.fit_transform(X5)

y5 = df[['House_Price']]
y5 = scaler.fit_transform(y5)

X_train, X_test, y_train, y_test = train_test_split(X5, y5, test_size=0.2, random_state=42)

model5.fit(X_train, y_train)

y_pred5 = model5.predict(X_test)

df5 = pd.DataFrame(y_pred5)

     Square_Footage  Num_Bedrooms  Year_Built  Lot_Size
0              1360             2        1981  0.599637
1              4272             3        2016  4.753014
2              3592             1        2016  3.634823
3               966             1        1977  2.730667
4              4926             2        1993  4.699073
..              ...           ...         ...       ...
995            3261             4        1978  2.165110
996            3179             1        1999  2.977123
997            2606             4        1962  4.055067
998            4723             5        1950  1.930921
999            3268             4        1983  3.108790

[1000 rows x 4 columns]

4. Оценка модели

In [43]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

#1 test
# MSE (Среднеквадратичная ошибка): чем ближе к 0, тем лучше
#mse1 = mean_squared_error(y_test, y_pred1)

# RMSE (Корень из MSE): ошибка в тех же единицах, что и целевая переменная
# (например, в рублях или метрах)
#rmse1 = np.sqrt(mse1)

# MAE (Средняя абсолютная ошибка): среднее отклонение
#mae1 = mean_absolute_error(y_test, y_pred1)

# R^2 (Коэффициент детерминации): точность от 0 до 1
#r2_1 = r2_score(y_test, y_pred1) #0.9984263636823413

#print(r2_1)

#2 test
# mse2 = mean_squared_error(y_test, y_pred2)

# rmse2 = np.sqrt(mse2)

# mae2 = mean_absolute_error(y_test, y_pred2)

# r2_2 = r2_score(y_test, y_pred2) #0.9924702735621431 - коэффициент снизился незначительно по сравнению со всеми данными

# print(r2_2)

# #3 test
# mse3 = mean_squared_error(y_test, y_pred3)

# rmse3 = np.sqrt(mse3)

# mae3 = mean_absolute_error(y_test, y_pred3)

# r2_3 = r2_score(y_test, y_pred3) #0.9981586682787803 - Garage_Sale почти никак не влияет коэффициент (влияет на 3 десятитысячные) - его спокойно можно не учитывать

# print(r2_3)


# #4 test
# mse4 = mean_squared_error(y_test, y_pred4)

# rmse4 = np.sqrt(mse4)

# mae4 = mean_absolute_error(y_test, y_pred4)

# r2_4 = r2_score(y_test, y_pred4) #0.9919107450493924 - снижение на 6 тысячных

# print(r2_4)

#5 test
mse5 = mean_squared_error(y_test, y_pred5)

rmse5 = np.sqrt(mse5)

mae5 = mean_absolute_error(y_test, y_pred5)

r2_5 = r2_score(y_test, y_pred5) #0.9973827127998448 - снижение на 1 тысячную, что незначительно, но при этом стало проще засчет удаления мало влияющих факторов

print(r2_5)

0.9973827127998448